<h1>WellfitBharat</h1>
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-outline mb-4">
    <%= f.label :email,  class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Enter a valid email address" %>
  </div>

  <div class="form-outline mb-3">
    <%= f.label :password ,  class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> char min.)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" , class: "form-control form-control-lg", placeholder: "Enter a password with minimum 6 character" %>
  </div>

  <div class="form-outline mb-3">
    <%= f.label :password_confirmation ,  class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control form-control-lg", placeholder: "Enter a confirm password" %>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <%= f.submit "Sign up",class:"btn btn-primary btn-lg"  %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
     </div>
      </div>
    </div>
  </div>
</section>


